@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "PembinaLayout";
    ViewData["Title"] = "Dashboard";
}


<div class="row mb-3">
<div class="col-lg-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Hi, @HttpContextAccessor.HttpContext.Session.GetString("FullName") Welcome back!
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">@HttpContextAccessor.HttpContext.Session.GetString("Role")</h6>
            <p class="card-text">Please check your student assessment. Keep consistent in teaching and have a nice day.</p>
        </div>
    </div>
</div>
</div>

<div class="card">
    <div class="card-header bg-primary text-light">
        Data Student
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="table-responsive">
                <table id="tableStudent" class="table table-striped table-hover table-bordered table-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>Nim</th>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Universitas</th>
                            <th>Major</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <b><h5 class="modal-title text-center" id="exampleModalLabel">Profil Student</h5></b>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <img src="~/Image/user.png" class="col-md-5 p-0" style="width:240px;height:300px" />

                    <div class="col-md-6 ">
                        <div class="mb-2">
                            <h3 class="text-center" id="fullname"></h3>
                        </div>
                        <div class="mb-2">
                            <span>NIM : </span> <span id="Nim"></span>
                        </div>
                        <div class="mb-2">
                            <span>Email : </span> <span id="email"></span>
                        </div>
                        <div class="mb-2">
                            <span>Score : </span> <span id="score"></span>
                        </div>
                        <div class="mb-2">
                            <span>Universitas : </span> <span id="universias"></span>
                        </div>
                        <div class="mb-2">
                            <span>Major : </span> <span id="Major"></span>
                        </div>
                        <div class="mb-2">
                            <span>Degree : </span> <span id="degree"></span>
                        </div>
                        <div class="mb-2">
                            <span>Gpa : </span> <span id="Gpa"></span>
                        </div>
                        <div class="mb-2">
                            <span>Start Date : </span> <span id="startdate"></span>
                        </div>
                        <span>End Date : </span> <span id="enddate"></span>
                    </div>
                </div>
            </div>


            <div class="modal-footer justify-content-md-start ">

                <button type="button" class="btn btn-secondary col-md-2 " data-bs-dismiss="modal">Close</button>
                <div class="col-md-7"></div>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Pembina.js"></script>
}