@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "PembinaLayout";
    ViewData["Title"] = "Dashboard";
}


<div class="container-fluid">
    <div class="table-responsive">
        <table id="tableStudent" class="table table-striped table-hover table-bordered table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Nim</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Universitas</th>
                    <th>Major</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
 </div>




@section Scripts{
    <script src="~/js/Pembina.js"></script>
}