@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "StudentLayout";
}


<div class="row mb-3">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Hi, @HttpContextAccessor.HttpContext.Session.GetString("FullName") Welcome!
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">@HttpContextAccessor.HttpContext.Session.GetString("Role")</h6>
                <p class="card-text">Please wait for your approval for internship. Please check your profile again if there is a data error. and complete your cv as attractive as possible.</p>
            </div>
        </div>
    </div>
</div>

<section class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <h5 class="mb-0">Data Pribadi</h5>
                    </div>
                    <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@HttpContextAccessor.HttpContext.Session.GetString("FullName")</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">NIM</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="nim">@HttpContextAccessor.HttpContext.Session.GetString("NIM")</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Start Date</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="startdate"></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">End Date</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"id="enddate"></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0" >Score</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="score"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <h5 class="mb-0">Data Mentor</h5>
                    </div>
                    <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"id="fullname"></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="email"></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="phone"></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Department</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="department"></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Gender</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="gender"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/Student.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
}