@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "StudentLayout";
}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #ddd;
        align-items: center;
        justify-content: center;
    }

</style>

<div class="container">
    <div class="box">
        <img src="~/Image/user.png" alt="">
        <ul>
            <li><button class="btn btn-secondary" style="width:100%;height:50%">Mentor</button></li>
            <li><button class="btn btn-secondary" style="width:100%;height:50%">Score</button></li>
            <li></li>
            <li><button class="btn btn-danger" style="width:100%;height:50%">Logout</button></li>
        </ul>
    </div>
    <div class="About">
        <ul>
            <h1 class="text-center">@HttpContextAccessor.HttpContext.Session.GetString("FullName")</h1>
        </ul>
        <ul>
            <h3 class="d-inline-block">NIM :</h3>
            <h3 class="d-inline-block">@HttpContextAccessor.HttpContext.Session.GetString("NIM")</h3>
        </ul>
        <ul>
            <h3>Gender</h3>
            <li>male</li>
        </ul>
        <ul>
            <h3>Country</h3>
        </ul>
        <ul>
            <h3>More Info</h3>
        </ul>
        <ul>
            <h3>Contact</h3>
            <li>example@gmail.com</li>
        </ul>
    </div>
</div>